doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    | &#x9;&#x9;
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    | &#x9;&#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    | &#x9;&#x9;
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css', rel='stylesheet')
    | &#x9;&#x9;
    link(rel='stylesheet', href='')
    | &#x9;&#x9;
    title Farmerone list
  | &#x9;
  body
    form(action='/list', method='post')
      h1 Farmer one list
      .row
        .col-md-6
          table.table
            thead
              tr
                th(scope='col') Names
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                th(scope='col') Ward
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                th(scope='col') Phone number
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                th(scope='col') Gender
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                th(scope='col') Update
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                th(scope='col') Delete
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          tbody
            if Farmerones
              each Farmerone in Farmerones
                    tr
                      td #{Farmerone.Name1} 
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      td  #{Farmerone.Ward1}
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      td #{Farmerone.phonenumber}
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      td #{Farmerone.Gender1}
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      td
                        a.btn.btn-success(href='/Farmerone/update/'+Farmer one._id) Update
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      form(method="post" action='/Farmerone/delete')
                                input(type="hidden", placeholder="", name="id", value=Farmerone._id)
                                button.btn.btn-danger.btn-block(type="submit") Delete
    div.form-row
        div
          script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js')